PORT=3000

# Key Vault URL
KEY_VAULT_URL=https://githubkvforpwc.vault.azure.net/

# Secret names in Key Vault
KV_SECRET_GITHUB_APP_ID=github-app-id
KV_SECRET_GITHUB_INSTALLATION_ID=github-installation-id
KV_SECRET_GITHUB_PRIVATE_KEY=github-app-private-key
